@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap');
@import "tailwindcss";



:root {
  font-family: 'IBM Plex Mono', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #E0FBFC;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}



body {
  margin: 0;
  display: flex;
  place-items: center;
  flex-direction: column;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


@theme {
  --color-lightcyan: #E0FBFC;
  --color-lightblue: #C2DFE3;
  --color-glaucous: #6883BA;
  --color-gunmetal: #253237;
}

